main {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1400px) {
  header {
    width: 95%;
  }

  main {
    width: 95%;
  }

  footer {
    width: 95%;
  }
}

@media (max-width: 992px) {
  header {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}